*{
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 2.027rem;
}

h2{
    font-size: 1.802rem;
}

h3{
    font-size: 1.266rem;
}

img{
    width: 100%;
    border-radius: 4%;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header img{
    width: 220px;
}

nav a{
    text-decoration: none;
    color:#000;
    font-size: 1.5rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

#sweethearts{
    padding: 2em;
}

.flavours{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.flavours img:nth-child(1){
    grid-column: 1/span 3;
    grid-row: 1;
}

.flavours img:nth-child(2){
    grid-column: 1;
    grid-row: 2;
}

.flavours img:nth-child(3){
    grid-column: 2;
    grid-row: 2;
}

.flavours img:nth-child(4){
    grid-column: 3;
    grid-row: 2;
}

.button{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: .5em;
    border: 2px;
    border-radius: 4px;
}

#story{
    padding: 2em;
    background-color: #f8fafc;
}

#story h2{
    margin: 0 auto;
    text-align: center;
}

.storytxt{
    display: flex;
    flex-direction: column;
}

#reviews{
    padding: 2em;
    background-color:#000;
    color: #fff;
}

#reviews h2{
    margin: 0 auto;
    text-align: center; 
}

.blockquotes{
    display: flex;
    flex-direction: column;
}

.otherflavours{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    padding: 2em 1em;
}

.ride, .beast, .monsta, .smore{
    background-color: #f8fafc;
    text-align: center;
    border-radius: 2%;
}

.ride{
    grid-column: 1;
    grid-row: 1;
}

.beast{
    grid-column: 2;
    grid-row: 1;
}

.monsta{
    grid-column: 1;
    grid-row: 2;
}

.smore{
    grid-column: 2;
    grid-row: 2;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 2em;
